.flex-row__start-start {
    display: flex;
    flex-direction: row;
}

.flex-row__center-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-row__center-start {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.flex-row__end-start {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: start;
}

.flex-row__start-center {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.flex-row__sb-start {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.flex-row__sb-stretch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.flex-row__center-stretch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.flex-row__sb-baseline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.flex-row__sb-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-row__sa-center {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.flex-row__sa-start {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
}

.flex-row__sb-center-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.flex-row__end-end {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}

.flex-row__center-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-column__start-start {
    display: flex;
    flex-direction: column;
}

.flex-column__center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-column__center-center-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-column__center-stretch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.flex-column__center-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.flex-column__center-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.flex-column__start-center {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.flex-column__start-stretch {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.flex-column__space-around-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.flex-column__sb-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.flex-column__sa-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.flex-column__sb-stretch {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.flex-column__sa-stretch {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}
