* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    font-family: 'Titillium Web', sans-serif;
    color: #fff;
    line-height: 1;
    font-size: 14px;
    text-align: center;
}

.wrapper {
     height: 100%;
     overflow: hidden;
}

button {
     font-family: inherit;
     color: inherit;
     cursor: pointer;
}

a, a:visited {
     text-decoration: none;
     color: inherit;
}

a:hover {
     text-decoration: none;
}

ul li {
     list-style: none;
}
