.first-block {
    background-color: #87509c;
    height: 100vh;
    padding: 40px;
}

.first-block__header-menu p {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 10px 18px; 
    background-color: #87509c;
}

.first-block__header-menu p:hover {
    border-radius: 10%;
    background: #643a79;
}

.first-block__content {
    height: 100%;
}

.first-block__content-text {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 40px;
}

.first-block__content-button {
    padding: 24px 60px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    background: #eb7d4b;
    transition: 300ms;
    border-bottom: 4px solid #c86a40;
}

.first-block__content-button:hover {
    background: #c86a40;
    transition: 300ms;
}

.second-block {
    background: #17c2a4;
    height: 100vh;
    padding: 50px;
}

.second-block__header-title-underline {
    margin: 20px 0;
    background: #000;
    opacity: 0.15;
    height: 4px;
    width: 12%;
}

.second-block__header-title-text {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.second-block__header-content {
    font-size: 18px;
    font-weight: 400;
}

.second-block__media {
    height: 100%;
}

.second-block__media-item-description {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
}

.second-block__media-item {
    flex-basis: 20%;
}

.second-block__media-item img { 
    align-self: center;
    max-height: 120px;
}

.second-block__media-item-title {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 24px;
    margin: 16px 0;
}
