.circle {
    transition-property: width, height, margin-left, margin-top;
    transition-duration: 2s;
    position: fixed;
    transform: translateX(-50%) translateY(-50%);
    background-color: red;
    border-radius: 50%;
}

.message-ball {
    font-size: 20px;
    line-height: 200px;
    text-align: center;
}